fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

input[type='text'],
input[type='number'],
input[type='file'] {
  display: block;
}

select {
  display: block;
}

textarea {
  display: block;
}

.flow-form-radio-group {
  display: flex;
  flex-direction: row;
}
